# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [6]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [7]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [9]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [10]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [155]:
#import pandas for dataframe
import pandas as pd

#create dataframe and declare index counter
mort_df = pd.DataFrame(columns=('country','code','infant_mortality'))
i = 0

#parse document and add rows to dataframe
document = ET.parse( './data/mondial_database.xml' )
for element in document.iterfind('country'):
    #check for nulls and do not add those to the df, cast columns as string and float
    if element.find('infant_mortality') is not None:
        mort_df.loc[i]=([str(element.find('name').text),str(element.get('car_code')),float(element.find('infant_mortality').text)])
        i=i+1

In [156]:
#the filled dataframe with no nulls
print (mort_df)

                    country  code  infant_mortality
0                   Albania    AL             13.19
1                    Greece    GR              4.78
2                 Macedonia    MK              7.90
3                    Serbia   SRB              6.16
4                   Andorra   AND              3.69
5                    France     F              3.31
6                     Spain     E              3.33
7                   Austria     A              4.16
8            Czech Republic    CZ              2.63
9                   Germany     D              3.46
10                  Hungary     H              5.09
11                    Italy     I              3.31
12            Liechtenstein    FL              4.33
13                 Slovakia    SK              5.35
14                 Slovenia   SLO              4.04
15              Switzerland    CH              3.73
16                  Belarus    BY              3.64
17                   Latvia    LV              7.91
18                Lithuania    LT              6.00
19                   Poland    PL              6.19
20                  Ukraine    UA              8.10
21                   Russia     R              7.08
22                  Belgium     B              4.18
23               Luxembourg     L              4.28
24              Netherlands    NL              3.66
25   Bosnia and Herzegovina   BIH              5.84
26                  Croatia    HR              5.87
27                 Bulgaria    BG             15.08
28                  Romania    RO             10.16
29                   Turkey    TR             21.43
..                      ...   ...               ...
198                    Chad   TCH             90.30
199       Equatorial Guinea    GQ             71.12
200                   Gabon     G             47.03
201              Cape Verde    CV             24.28
202                   Sudan   SUD             52.86
203             South Sudan   SSD             68.16
204                 Comoros   COM             65.31
205                  Guinea    RG             55.24
206                 Liberia    LB             69.19
207                Djibouti   DJI             50.20
208                 Eritrea    ER             38.44
209                Ethiopia   ETH             55.77
210                 Somalia    SP            100.14
211                   Kenya   EAK             40.71
212                  Gambia   WAG             65.74
213                 Senegal    SN             52.72
214           Guinea-Bissau   GNB             90.92
215            Sierra Leone   WAL             73.29
216                  Uganda   EAU             60.82
217                 Lesotho    LS             50.48
218              Madagascar    RM             44.88
219                  Malawi    MW             48.01
220              Mozambique   MOC             72.42
221               Mauritius    MS             10.59
222                 Mayotte  MAYO             56.29
223               Swaziland    SD             54.82
224                 Reunion  REUN              7.50
225            Saint Helena  HELX             17.63
226   Sao Tome and Principe   STP             49.16
227              Seychelles    SY             10.77

[228 rows x 3 columns]

In [157]:
#find the top 10 countries with the smallest infant mortality rate
mort_df.nsmallest(10,'infant_mortality')

            country  code  infant_mortality
36           Monaco    MC              1.81
90            Japan     J              2.13
34           Norway     N              2.48
109         Bermuda  BERM              2.48
34           Norway     N              2.48
109         Bermuda  BERM              2.48
98        Singapore   SGP              2.53
35           Sweden     S              2.60
8    Czech Republic    CZ              2.63
72        Hong Kong  HONX              2.73
73            Macao  MACX              3.13
39          Iceland    IS              3.15

In [174]:
#create dataframe and declare index counter
cities = pd.DataFrame(columns=('city','population'))
i = 0

for element in document.iterfind('country'):
    for child in element.iterfind('city'):
        p = 0
        y = 0
        for population in child.iterfind('population'):
            #set p from population where year > previous year
            if population.text is not None and population.get('year') is not None and int(population.get('year'))>y:
                p = int(population.text)
                y = int(population.get('year'))
        #We may hve a city with 0 population, so filter those out
        if child.find('name') is not None and p>0:
            cities.loc[i]=([str(child.find('name').text),p])
            i=i+1

In [175]:
print (cities)

                 city  population
0              Tirana    418495.0
1             Shkodër     77075.0
2              Durrës    113249.0
3               Vlorë     79513.0
4             Elbasan     78703.0
5               Korçë     51152.0
6              Skopje    514967.0
7            Kumanovo    107745.0
8             Beograd   1639121.0
9            Novi Sad    335701.0
10                Niš    257867.0
11          Podgorica    150977.0
12          Prishtine    198214.0
13   Andorra la Vella     22256.0
14              Vaduz      5241.0
15          Ljubljana    282994.0
16            Maribor    111374.0
17               Rīga    696618.0
18            Vilnius    538747.0
19             Kaunas    307498.0
20           Klaipeda    158891.0
21         Luxembourg     99852.0
22             Zagreb    686568.0
23              Split    165893.0
24             Rijeka    127498.0
25             Osijek     83496.0
26              Zadar     70674.0
27              Sofia   1270284.0
28            Plovdiv    331796.0
29              Varna    330486.0
..                ...         ...
363          Monrovia   1010970.0
364          Djibouti    475322.0
365            Asmara    380568.0
366           Mombasa    938131.0
367           Malindi    118265.0
368          Machakos    150041.0
369           Nairobi   3133518.0
370            Kisumu    388311.0
371            Nakuru    307990.0
372           Eldoret    289380.0
373            Banjul    357238.0
374          Freetown    772873.0
375                Bo    149957.0
376           Kampala   1516210.0
377           Mbarara    195013.0
378            Mukono    161996.0
379            Maseru    227880.0
380       Antsiranana     59040.0
381      Antananarivo    710236.0
382         Antsirabe    126062.0
383      Fianarantsoa    109260.0
384           Majunga    106780.0
385          Tamatave    137782.0
386           Toliara     80826.0
387          Lilongwe    674448.0
388          Blantyre    661256.0
389           Mbabane     57992.0
390       Saint-Denis    145347.0
391          São Tomé     49957.0
392          Victoria     24970.0

[393 rows x 2 columns]

In [176]:
#10 cities with largest population
cities.nlargest(10,'population')

                city  population
165            Seoul   9708483.0
154       Al Qahirah   8471859.0
75           Bangkok   7506700.0
123        Hong Kong   7055071.0
87       Ho Chi Minh   5968384.0
201        Singapore   5076700.0
153  Al Iskandariyah   4123869.0
205       New Taipei   3939305.0
166            Busan   3403135.0
102        Pyongyang   3255288.0

In [177]:
#create dataframe and declare index counter
egroups = pd.DataFrame(columns=('group','population'))
i = 0

for element in document.iterfind('country'):
    p = 0
    y = 0
    #Get the population of the country just like the cities above
    for population in element.iterfind('population'):
        if population.text is not None and population.get('year') is not None and int(population.get('year'))>y:
            p = int(population.text)
            y = int(population.get('year'))
    for child in element.iterfind('ethnicgroup'):
        #check for nulls and do not add those to the df, cast columns desired dtypes.
        #I convert population of group to int because you do not have .2 of a person in reality
        if child.get('percentage') is not None and p>0:
            egroups.loc[i]=([str(child.text),int(p * ((float(child.get('percentage')))/100))])
            i=i+1

In [178]:
print (egroups)

                    group  population
0                Albanian   2660131.0
1                   Greek     84004.0
2                   Greek  10059145.0
3              Macedonian   1322387.0
4                Albanian    519068.0
5                 Turkish     80331.0
6                   Gypsy     55614.0
7                    Serb     37076.0
8                    Serb   5903032.0
9             Montenegrin     64085.0
10              Hungarian    277705.0
11                   Roma     99689.0
12                Bosniak    128171.0
13                  Croat     78327.0
14            Montenegrin    266612.0
15                   Serb    198409.0
16                Bosniak     49602.0
17               Albanian     31001.0
18               Albanian   1595162.0
19                Serbian     86693.0
20                Spanish     33589.0
21               Andorran     25777.0
22             Portuguese      8592.0
23                 French      1562.0
24                African      3905.0
25   Mediterranean Nordic  46815916.0
26               Austrian   7743280.0
27                Turkish    135996.0
28                Slovene     84997.0
29                  Croat    169995.0
..                    ...         ...
598               African   1570757.0
599                 Asian     57519.0
600               African   5694456.0
601                Rwanda   2091408.0
602                  Arab    348568.0
603               Baganda   5925658.0
604            Karamojong   4182817.0
605                Basogo   2788545.0
606                 Iteso   2788545.0
607                 Langi   2091408.0
608                Bagisu   1742840.0
609                Acholi   1394272.0
610               Lugbara   1394272.0
611               Bunyoro   1045704.0
612                Batobo   1045704.0
613                 Sotho   2002894.0
614              European     14220.0
615                Indian     18960.0
616          Euro-African     47401.0
617                Creole    334014.0
618        Indo-Mauritian    841221.0
619        Sino-Mauritian     37112.0
620      Franco-Mauritian     24741.0
621              European     35794.0
622               African   1157353.0
623       African descent      2831.0
624                 White      1415.0
625               Chinese      1415.0
626              European    187356.0
627           Seychellois     90945.0

[628 rows x 2 columns]

In [179]:
#sum the population of each group
esum = egroups.groupby('group').sum()

In [220]:
#10 largest ethnic groups
esum.nlargest(10,'population')

               population
group
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.948722e+08
African      3.183251e+08
Dravidian    3.027137e+08
Mestizo      1.577343e+08
Bengali      1.467769e+08
Russian      1.318570e+08
Japanese     1.265342e+08
Malay        1.219935e+08

In [223]:
#create dataframe and declare length variable
#we are going to loop through the xml doc and replace our rows in the dataframe when
#we find a new lenght > previous length
#we should end up with a dataframe that has the country(s) with the one longest river
rivers = pd.DataFrame(columns=('name','country','length'))
l = 0

for river in document.findall('river'):
    #create an empty list to split country codes into
    countries = []
    if river.attrib is not None:
        countries = river.attrib['country'].split()
    if river.find('length') is not None and float(river.find('length').text)>l:
        #We have a river, with a longer length, so let's loop through the country codes and add to df
        l = float(river.find('length').text)
        for code in countries:
            #Let's get the country name from our mort_df dataframe, but first make sure we have that code
            if len(mort_df[mort_df['code'].astype(str).str.contains(code)])>0:
                cname = mort_df.loc[mort_df['code'] == code, 'country'].iloc[0]
                #clear the dataframe
                rivers.iloc[0:0]
                i = 0
                #We now have the river name, length and country so add it to the empty dataframe
                if len(cname)>0:
                    rivers.loc[i]=([str(river.find('name').text),cname,l])
                    i=i+1

In [224]:
print(rivers)

       name country  length
0  Amazonas    Peru  6448.0

In [225]:
#Let's repeat this for lakes and airports
lakes = pd.DataFrame(columns=('name','country','area'))
l = 0

for lake in document.findall('lake'):
    countries = []
    if lake.find('area') is not None and float(lake.find('area').text)>l:
        countries = lake.attrib['country'].split()
        l = float(lake.find('area').text)
        for code in countries:
            if len(mort_df[mort_df['code'].astype(str).str.contains(code)])>0:
                cname = mort_df.loc[mort_df['code'] == code, 'country'].iloc[0]
                lakes.iloc[0:0]
                i = 0
                if len(cname)>0:
                    lakes.loc[i]=([str(lake.find('name').text),cname,l])
                    i=i+1

In [254]:
print (lakes)

          name       country      area
0  Caspian Sea  Turkmenistan  386400.0

In [228]:
airports = pd.DataFrame(columns=('name','country','elevation'))
l = 0

for airport in document.findall('airport'):
    countries = []
    if airport.find('elevation').text is not None and float(airport.find('elevation').text)>l:
        countries = airport.attrib['country'].split()
        l = float(airport.find('elevation').text)
        for code in countries:
            if len(mort_df[mort_df['code'].astype(str).str.contains(code)])>0:
                cname = mort_df.loc[mort_df['code'] == code, 'country'].iloc[0]
                airports.iloc[0:0]
                i = 0
                if len(cname)>0:
                    airports.loc[i]=([str(airport.find('name').text),cname,l])
                    i=i+1

In [229]:
print(airports)

           name  country  elevation
0  El Alto Intl  Bolivia     4063.0

In [240]:
print('The longest river is '+rivers.loc[0]['name']+', in '+rivers.loc[0]['country']+', with a length of '+
      str(rivers.loc[0]['length'])+'\n'+
     'The largest lake is '+lakes.loc[0]['name']+', in '+lakes.loc[0]['country']+', with an area of '+
      str(lakes.loc[0]['area'])+'\n'+
     'The highest airport is '+airports.loc[0]['name']+', in '+airports.loc[0]['country']+', with an elevation of '+
      str(airports.loc[0]['elevation']))

The longest river is Amazonas, in Peru, with a length of 6448.0
The largest lake is Caspian Sea, in Turkmenistan, with an area of 386400.0
The highest airport is El Alto Intl, in Bolivia, with an elevation of 4063.0